@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', Arial
}
.header {
    display: flex;
    /* gap:100px;
    margin-left:150px; */
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
/* have a space after : */

 /* .nav{


} */
.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    margin-top: 50px;
    margin-left: 130px;
}

.heroimg {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: flex-end;
    align-items: center;
}
