@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial
}

.contentone{ 
    background-color: #1f2937;
}

.header {
    display: flex;
    /* gap:100px;
    margin-left:150px; */
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.hero-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 150px;
    }

.box1 {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 20px;
}

.box2 {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 20px;
}

.box3 {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 20px;
}

.box4 {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 20px;
}

.trendy {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.info {
    display: flex;
    flex-direction: row;
}

