@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial
}

.section-one {
    background-color: #1f2937;
}

#navtitle {
    font-size: 24px;
    color: #f9faf8;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
}

.navbar-left,.navbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;

}

.info {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.info-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.info-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 215px;
    

}

img {
    margin-bottom: 50px;
}

.luffyq {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up{
    background-color: #3882f6;
    color: white;
    width: 125px;
    height: 50px;
    border-radius: 15px;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.rowbluebox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: 75px;
    align-items: center;
}

.rbb{
    border: 2px solid #3882f6;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boxtext {
    text-align: center;
    font-size: 18px;
}

.section-three {
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

h3 {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color:#1f2937;
    text-align: center;
}

.qfrom {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-left: 500px;
}

.section-four {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container {
    background-color: #3882f6;
    width: 60%;
    height: 30%;
    display: flex;
    flex-direction: row;
}

.left {
    width: 80%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h4 {
    font-size: 20px;
    color: white;
}

.calltext {
    color: white;
    font-size: 18px;
}

.right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ctasignup {
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    height: 35px;
    width: 110px;
    border-radius: 10px;
    margin-right: 50px;
}
